server {
        listen {{ http_port_test | default(80) }};
        server_name {{ test_server_name | default("prod-online.ru") }};
        return 301 https://$host$request_uri;
}

server {
    listen {{ http_port_test | default(443) }} ssl;
    server_name {{ test_server_name | default("prod-online.ru") }};

# bufer size
    fastcgi_buffer_size 32k;
    fastcgi_buffers 4 32k;
    proxy_buffer_size   64k;
    proxy_buffers   4 64k;
    proxy_busy_buffers_size   64k;

# log project use  include
        access_log  /var/log/nginx/site.example.com-access.log  requestid;
        error_log   /var/log/nginx/site.example.com-error.log;

#certs
    ssl_certificate {{ ssl_dir }}/example.crt;
    ssl_certificate_key {{ ssl_dir }}/example.key;

     location / {
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
       #proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $http_host;
        #proxy_set_header Host $host;
        proxy_pass http://upstream-01;
        allow all;
   }
}