upstream static_servers {
    server localhost:8343;
    server localhost:8344;
}

server {
    listen {{ http_port }};
    server_name {{ test_server_name | default("prod-online.ru") }};
}

server {
    listen {{ https_port }} ssl;
    server_name {{ test_server_name | default("prod-online.ru") }};

# bufer size
    fastcgi_buffer_size 32k;
    fastcgi_buffers 4 32k;
    proxy_buffer_size   64k;
    proxy_buffers   4 64k;
    proxy_busy_buffers_size   64k;

# log project use  include
        access_log  /var/log/nginx/site.example.com-access.log;
        error_log   /var/log/nginx/site.example.com-error.log;

#certs
    ssl_certificate {{ ssl_dir }}/example.crt;
    ssl_certificate_key {{ ssl_dir }}/example.key;

     location / {
        proxy_pass http:static_servers;
        allow all;
   }
}


server {
    listen 8343;
    server_name static-1;

    location / {
        add_header Content-Type application/json;
        return 200 '{"message": "Hello, I`m {{ inventory_hostname }}!", "static_server": "1 - success"}';
    }

}

server {
    listen 8344;
    server_name static-2;

    location / {
        add_header Content-Type application/json;
        return 200 '{"message": "Hello, I`m {{ inventory_hostname }}!", "static_server": "2 - success"}';
    }

}