vrrp_script chk_nginx {
    script "/usr/bin/killall -0 nginx"  # проверка что nginx работает
    interval 2                          # проверка каждые 2 секунды
    weight 2                            # приоритет увеличивается на 2 при успешной проверке
}

vrrp_instance VI_1 {
    state {{ status }}                        # роль сервера
    interface {{ interface }}                      # сетевой интерфейс (замените на ваш)
    virtual_router_id 51                # ID виртуального маршрутизатора (должен быть одинаковым на обоих серверах)
    priority {% if status == 'MASTER' %}101{% else %}100{% endif %}       # приоритет MASTER (должен быть выше чем у BACKUP)
    advert_int 1                        # интервал объявлений

    authentication {
        auth_type PASS
        auth_pass 1111                  # пароль (должен быть одинаковым на обоих серверах)
    }

    virtual_ipaddress {
        {{ vip }}/24               # VIP адрес (замените на ваш)
    }

    track_script {
        chk_nginx                      # отслеживаем статус nginx
    }

    notify_master "/etc/keepalived/notify.sh master"
    notify_backup "/etc/keepalived/notify.sh backup"
    notify_fault "/etc/keepalived/notify.sh fault"
}